<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="System of Environmental and Economic Accounts of Guatemala">
    <meta name="author" content="Renato Vargas">
    <link rel="icon" href="/img/favicon.ico">

    <title>{{ .Title }}: {{ .Description }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	
	 <!-- Custom Color Scheme from  http://www.lavishbootstrap.com -->
	<link href="/css/lavish-bootstrap.css" rel="stylesheet">
	
  </head>

  <body>
