{{ partial "header.html" . }}

{{ partial "navbar.html" . }}
	
	
	
	
	

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Environmental Accounts of Guatemala</h1>
        <p>The System of Environmental and Economic Accounts of Guatemala is over a decade old. To celebrate, we've put all its findings in one easy to browse place in English.</p>
        <!--<p><a class="btn btn-primary btn-lg" href="about.html" role="button">Highlights &raquo;</a></p>  -->
      </div>
    </div>

    <div class="container">
		
		<!-- Synthesis Reports -->
		<h1>Synthesis Reports</h1>
		
		
      <!-- Example row of columns -->
      <div class="row">
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">SEEA GT OVERVIEW</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="img/chiclet-seea.png" class="img-circle img-responsive center-block" alt="Energy">
 		    </div>
 		  </div>
        </div>
		
        <div class="col-md-4">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">ENERGY</h3>
		    </div>
		    <div class="panel-body">
		      <a href="/report/energy"><img src="img/chiclet-energy.png" class="img-circle img-responsive center-block" alt="Energy"></a>
		    </div>
		  </div>
       </div>
	   
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">FORESTS</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="./img/chiclet-forest.png" class="img-circle img-responsive center-block" alt="Forests">
 		    </div>
 		  </div>
        </div>
		
      </div><!-- #Ends Row-->

      <hr>

      <div class="row">
		  
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">WATER</h3>
 		    </div>
 		    <div class="panel-body">
 		      <a href="/report/water"><img src="./img/chiclet-water.png" class="img-circle img-responsive center-block" alt="Water"></a>
            </div>
    	   </div>
	   </div>
	
		
        <div class="col-md-4">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">LAND AND ECOSYSTEMS</h3>
		    </div>
		    <div class="panel-body">
		      <a href="/report/ecosystems"><img src="./img/chiclet-ecosystem.png" class="img-circle img-responsive center-block" alt="Ecosystems"></a>
		    </div>
		  </div>
       </div>
   
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">WASTE</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="./img/chiclet-waste.png" class="img-circle img-responsive center-block" alt="Waste">
 		    </div>
 		  </div>
        </div>
	  
	  </div> <!-- #Ends Row-->
	  
	  <hr>

      <div class="row">
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">SUBSOIL RESOURCES</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="./img/chiclet-subsoil.png" class="img-circle img-responsive center-block" alt="Subsoil">
 		    </div>
 		  </div>
	  </div>
        
		
        <div class="col-md-4">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">FISHERIES</h3>
		    </div>
		    <div class="panel-body">
		      <img src="./img/chiclet-fisheries.png" class="img-circle img-responsive center-block" alt="Fisheries">
		    </div>
		  </div>
	  </div>
       
	   
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">ENVIRONMENTAL EXPENDITURE</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="./img/chiclet-expenditure.png" class="img-circle img-responsive center-block" alt="Expenditure">
 		    </div>
 		  </div>
        </div>
		
      </div> <!-- #Ends Row-->
	  
	  <hr>
	  
      <div class="row">
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">AGRICULTURE, FORESTRY, AND FISHERIES</h3>
 		    </div>
 		    <div class="panel-body">
 		      <a href="/report/aff"><img src="./img/chiclet-ecosystem.png" class="img-circle img-responsive center-block" alt="AFF"></a>
 		    </div>
 		  </div>
        </div>
        
       </div> <!-- #Ends Row-->
         
      </div> <!-- #Ends Container -->
	  
	  <hr>

{{ partial "footer.html" . }}