{{ partial "header.html" . }}

{{ partial "navbar.html" . }}
	
	
	
	
	

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Environmental Accounts of Guatemala</h1>
        <p>Findings of the System of Environmental and Economic Accounts of Guatemala and related resources.</p>
        <!--<p><a class="btn btn-primary btn-lg" href="about.html" role="button">Highlights &raquo;</a></p>  -->
      </div>
    </div>

    <div class="container">
		
		<!-- Synthesis Reports -->
		<h1>Synthesis Reports</h1>
		
		
<!--      <!-- Example row of columns -->
      <div class="row">

		 <!--
		 <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">SEEA GT OVERVIEW</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="img/chiclet-seea.png" class="img-circle img-responsive center-block" alt="Energy">
 		    </div>
 		  </div>
        </div>
		-->

         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">AGRICULTURE, FORESTRY, AND FISHERIES</h3>
 		    </div>
 		    <div class="panel-body">
 		      <a href="/report/aff"><img src="./img/chiclet-aff.png" class="img-circle img-responsive center-block" alt="AFF"></a>
 		    </div>
 		  </div>
        </div>



         <div class="col-md-4">

 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">FORESTS</h3>
 		    </div>
 		    <div class="panel-body">
 		      <a href="/report/forests"><img src="./img/chiclet-forest.png" class="img-circle img-responsive center-block" alt="Forests"></a>
 		    </div>
 		  </div>

	      </div>


 		 <div class="col-md-4">
  		  <div class="panel panel-default">
  		    <div class="panel-heading">
  		      <h3 class="panel-title">WATER</h3>
  		    </div>
  		    <div class="panel-body">
  		      <a href="/report/water"><img src="./img/chiclet-water.png" class="img-circle img-responsive center-block" alt="Water"></a>
             </div>
     	   </div>
 	   </div>


      </div><!-- #Ends Row-->

      <hr>

      <div class="row">


        <div class="col-md-4">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">LAND AND ECOSYSTEMS</h3>
		    </div>
		    <div class="panel-body">
		      <a href="/report/ecosystems"><img src="./img/chiclet-ecosystem.png" class="img-circle img-responsive center-block" alt="Ecosystems"></a>
		    </div>
		  </div>
       </div>

         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">WASTE</h3>
 		    </div>
 		    <div class="panel-body">
 		      <a href="/report/waste"><img src="./img/chiclet-waste.png" class="img-circle img-responsive center-block" alt="Waste"></a>
 		    </div>
 		  </div>
        </div>

        <div class="row">
           <div class="col-md-4">
   		  <div class="panel panel-default">
   		    <div class="panel-heading">
   		      <h3 class="panel-title">SUBSOIL RESOURCES</h3>
   		    </div>
   		    <div class="panel-body">
   		      <a href="/report/subsoil"><img src="./img/chiclet-subsoil.png" class="img-circle img-responsive center-block" alt="Subsoil"></a>
   		    </div>
   		  </div>
  	  </div>


	  </div> <!-- #Ends Row-->

	  <hr>

	     <!--
         <div class="col-md-4">
 		  <div class="panel panel-default">
 		    <div class="panel-heading">
 		      <h3 class="panel-title">ENVIRONMENTAL EXPENDITURE</h3>
 		    </div>
 		    <div class="panel-body">
 		      <img src="./img/chiclet-expenditure.png" class="img-circle img-responsive center-block" alt="Expenditure">
 		    </div>
 		  </div>
        </div>
		-->

      </div> <!-- #Ends Row-->

	  <hr>

      <div class="row">

        <div class="col-md-4">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">FISHERIES</h3>
		    </div>
		    <div class="panel-body">
		      <a href="/report/fisheries"><img src="./img/chiclet-fisheries.png" class="img-circle img-responsive center-block" alt="Fisheries"></a>
		    </div>
		  </div>
	  </div>

       <div class="col-md-4">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">ENERGY</h3>
	    </div>
	    <div class="panel-body">
	      <a href="/report/energy"><img src="img/chiclet-energy.png" class="img-circle img-responsive center-block" alt="Energy"></a>
	    </div>
	  </div>
      </div>


       </div> <!-- #Ends Row-->

      </div> <!-- #Ends Container -->

	  <hr> -->
	    
	  <div class="container">
		  
		  
			  <div class="col-md-10">
				  <div class="row">
				  <div class="col-md-3">
				  <a href="/report/aff/"><img src="/img/chiclet-aff.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Agriculture, forestry, and fisheries</h1></a>
				  <p><em>How natural capital accounting revealed that a country that feeds on maize and beans leaves the production of these crops entirely up to climate variability.</em></p>
			  </div>
			  </div><!-- End row -->
			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/forests/"><img src="/img/chiclet-forest.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Forests</h1></a>
				  <p><em>Forest accounting revealed that over 95% of deforestation happened outside of the control of government institutions and that the use of fuelwood has a higher impact on forests than previously thought.</em></p>
			  </div>
			  </div><!-- End new chibola -->

			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/water/"><img src="/img/chiclet-water.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Water</h1></a>
				  <p><em>Water accounting showed that upward of 98% of the water used by the economy is not taken into account by our usual economic performance measures, leading to poor economic decisions with regards to this natural resource.</em></p>
			  </div>
			  </div><!-- End new chibola -->


			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/ecosystems/"><img src="/img/chiclet-ecosystem.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Land and ecosystems</h1></a>
				  <p><em>Natural capital accounting revealed that out of fourteen ecosystem regions in Guatemala, nine are severely fragmented to a point where their integrity and the provision of natural goods and services can no longer be guaranteed.</em></p>
			  </div>
			  </div><!-- End new chibola -->


			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/waste/"><img src="/img/chiclet-waste.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Waste</h1></a>
				  <p><em>Between 2001 and 2006, the Guatemalan economy generated an average of 97.5 million metric tons of solid waste annually. Of this total, 98% came from the production of goods and services, and only about 2% from households.</em></p>
			  </div>
			  </div><!-- End new chibola -->
			  
			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/subsoil/"><img src="/img/chiclet-subsoil.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Subsoil Resources</h1></a>
				  <p><em>The industries related to subsoil resources contributed between 1.94% and 2.34% of GDP annually in the analyzed years, specially owing to the non-metallic minerals extraction industry. Conversely, oil extraction was the largest use of these resources in physical terms.</em></p>
			  </div>
			  </div><!-- End new chibola -->
			  
			  
			  
			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/fisheries/"><img src="/img/chiclet-fisheries.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Fisheries</h1></a>
				  <p><em>The total contribution of fish farming and aquaculture to GDP oscillated between 0.19% and 0.25% between 2001 and 2005, which is notably low in the Guatemalan economy.</em></p>
			  </div>
			  </div><!-- End new chibola -->


			  <hr>
				  <div class="row"> <!-- Start new chibola -->
				  <div class="col-md-3">
				  <a href="/report/energy/"><img src="/img/chiclet-energy.png" alt="Iarna-URL/Banguat (2009)" class="img-circle img-responsive center-block">
			  </div>
			  <div class="col-md-9">
				  <h1>Energy</h1></a>
				  <p><em>Natural capital accounting showed that Guatemala is a country whose main source of energy is fuelwood, and it also made clear that the production of electricity is the largest individual user of energy of all kinds, taking up to 3.3 units of energy in other forms to produce one unit of electricity.</em></p>
			  </div>
			  </div><!-- End new chibola -->			  
		 
	  </div> 

	  
	  
	  
	  
  </div> <!-- End container -->

{{ partial "footer.html" . }}